.album-details {
  color: black;
  margin: 0 auto;
  width: 60%;
  height: 100vh;
}

.banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.album-info {
  padding: 10px;
}

.album-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  width: 50%;
}

.album-info p {
  margin-bottom: 5px;
}

.album-description {
  margin-top: 20px;
}

.release-images img {
  padding: 10px;
  width: 200px;
  height: 200px;
}

.release-images {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  flex: 0 0 33.33%;
  padding: 3px;
  width: 33.33%;
}

.image-item img {
  width: 100%;
  height: auto;
}

.release-images {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  padding: 10px;
  width: 200px;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-icon {
  cursor: pointer;
  margin-right: 10px;
}

.duration {
  padding-left: 6px;
  color: gray;
}
