.album-details {
  color: black;
  margin: 0 auto;
  width: 75%;
  height: 100vh;
}

.banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title-container h1 {
  margin: 40px 0px 0px 0px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.album-info {
  flex: 1;
  padding: 10px;
}

.info-container {
  line-height: 0.5;
}

.release-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: auto;
}

.album-description {
  margin-top: 20px;
}

.play-icon {
  cursor: pointer;
  margin-right: 10px;
}

.duration {
  padding-left: 6px;
  color: gray;
}
