<div class="album-details">
  <div class="banner py-0">
    <img src="../../../assets/bernd-dittrich-JEqOpiM2vLU-unsplash.jpg" alt="" />
  </div>
  <div class="d-flex justify-content-between">
    <div class="album-info d-flex">
      <div *ngIf="releaseDetails.artists">
        <h1>{{ releaseDetails.title }}</h1>
        <p>Artista: {{ releaseDetails.artists[0].name }}</p>
        <p>Formato: {{ releaseDetails.formats[0].name }}</p>
        <p>Año: {{ releaseDetails.year }}</p>
        <p>País: {{ releaseDetails.country }}</p>
        <p>Géneros: {{ releaseDetails.genres.join(", ") }}</p>
      </div>
    </div>

    <div
      *ngIf="releaseDetails.images && releaseDetails.images.length > 0"
      class="release-images"
    >
      <div class="image-container" *ngFor="let image of releaseDetails.images">
        <img [src]="image.uri" alt="Release Image" />
      </div>
    </div>
  </div>

  <div class="album-description">
    <p>{{ releaseDetails.notes }}</p>
  </div>

  <div class="music-player d-flex">
    <div class="tracklist">
      <div *ngFor="let track of releaseDetails.tracklist" class="track d-flex">
        <div class="play-icon" (click)="playTrack(track)">
          <mat-icon>{{ track.isPlaying ? "pause" : "play_arrow" }}</mat-icon>
        </div>
        <div class="track-info d-flex">
          <p class="title">{{ track.title }}</p>
          <p class="duration">{{ track.duration }}</p>
        </div>
      </div>
    </div>
    <app-music-player></app-music-player>
  </div>
</div>
