<div class="container-fluid p-0">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid w-100">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!userService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active"
              >register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              >login</a
            >
          </li>
        </ng-container>
        <li class="nav-item" *ngIf="userService.isLoggedIn()">
          <button (click)="onClick()" class="btn btn-outline-danger">
            logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
