.form-inline {
  display: flex;
  align-items: center;
}

.form-control {
  margin-right: 0;
  border-radius: 0;
  border-right: none;
}

.btn-outline-success {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  position: relative;
  left: -40px;
  z-index: 1;
}

.btn-outline-success:hover {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.btn-outline-success:focus {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}
