<div class="container-fluid">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="3000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/carousel_1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/carousel_2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/carousel_3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="text-justify">
        <strong>Start now</strong> to review all releases that we have available
        and like your favorite <strong>record labels</strong>, so you can follow
        them directly <strong>without intermediaries.</strong>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="text-left">new and featured</h3>
    </div>
  </div>

  <div class="row flex-container">
    <div *ngFor="let release of releaseData" class="flex-item">
      <img [src]="release.cover_image" alt="Release Image" />
      <p>
        <strong>{{ release.title }}</strong> by {{ release.artist }}
        <strong>Format:</strong>{{ release.format }} in {{ release.year }},
        {{ release.country }}. <strong>Genres:</strong>{{ release.genre }}
      </p>
    </div>
  </div>
</div>
